[Desktop Entry]
Categories=Game;Shooter;
Comment=Port of id Software's Quake using the Vulkan API
Icon=vkquake
Name=vkQuake
Terminal=false
Type=Application
# no path for AppImage
Exec=vkquake
