TabWidth: 4
IndentWidth: 4
UseTab: AlignWithSpaces
Language: Cpp
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
DerivePointerAlignment: false
ColumnLimit: 160
AlignAfterOpenBracket: Align
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignEscapedNewlines: Left
PointerAlignment: Right
AlignOperands: Align
AllowShortIfStatementsOnASingleLine: Never
SpaceBeforeParens: Always
SortIncludes: Never
AlignTrailingComments: true
AlignAfterOpenBracket: AlwaysBreak