BasedOnStyle: LLVM
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Always
Language: Cpp
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
DerivePointerAlignment: false
ColumnLimit: 160
AlignAfterOpenBracket: Align
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignEscapedNewlines: Left
AlignTrailingComments: true
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: false
PointerAlignment: Right
AlignOperands: Align
AllowShortIfStatementsOnASingleLine: Never
SpaceBeforeParens: Always
SortIncludes: Never
