*.suo
vkquake.VC*
Quake/*.dll
Quake/*.o
Quake/*.d
Quake/id1/
Quake/vkquake
Quake/*.exe
Quake/*.res
Windows/VisualStudio/Id1
Shaders/Compiled/Debug/*.spv
Shaders/Compiled/Debug/*.c
Shaders/Compiled/Debug/*.d
Shaders/Compiled/Release/*.spv
Shaders/Compiled/Release/*.c
Shaders/Compiled/Release/*.d
Shaders/*.exe
Shaders/*.obj
Shaders/bintoc
Windows/VisualStudio/.vs
Windows/VisualStudio/Build-*
Windows/VisualStudio/enc_temp_folder
Packaging/AppImage/AppDir
Packaging/AppImage/vkquake*
Packaging/Windows/vkQuake-Installer-*.exe
Packaging/Windows/vkQuake*.zip
Misc/vq_pak/mkpak
Misc/vq_pak/bintoc
Misc/vq_pak/*.dSYM
build/
.settings
.project
.cproject
.DS_Store
history.txt
.vscode/settings.json
helgrind.log
